##**Variables and strings**

# Variales

In [ ]:
x = 3  # initializing variables x and y
y = 8.3

In [ ]:
z = 1.9

In [ ]:
%who # lists all the variable used

A	 L	 a	 age	 b	 experience	 k	 m	 s
str1	 str2	 str3	 x	 y	 z

In [ ]:
%whos # lists all the variable used with data type and the data which the variable has stored

Variable     Type        Data/Info
----------------------------------
A            str
L            str         Hi everybody
a            str         Hi, give me  buns
age          int         36
b            str         Hi, give me \4 buns
experience   int         12
k            str         Hi, give me 4 buns
m            NoneType    None
s            str         S
str1         str         My name is Dr. Naseer Ahmed,
str2         str          I am a researcher
str3         str         My name is Dr. Naseer Ahmed, I am a researcher
x            int         3
y            float       8.3
z            float       1.9

In [ ]:
del x , y  # to clear the specified variables

In [ ]:
y  # as the variables are deleted it gives error for 'y'

NameError: name 'y' is not defined

In [ ]:
z

1.9

In [ ]:
%reset  # removes all the variables

In [ ]:
z

The basic data types are

integer

float

string

boolean

list

tuple

set

dictionary

# **Data Structures**

string

list

tuple

set

dictionary

##**STRING**

In [ ]:
print('Hello Python!')

Hello Python!

In [ ]:
s = 'S'
print(s,type(s))  # type() returns the data type of the given variable

S <class 'str'>

In [ ]:
L = 'Hi everyobody'
print(L,type(L))

Hi everyobody <class 'str'>

In [ ]:
A= ' '  # even empty space between the quotes is also a string
print(A,type(A))

  <class 'str'>

In [ ]:
len(L) # len is in-built function to know the size of the string

12

In [ ]:
L

'Hi everybody'

In [ ]:
# extracting a character
L[3]

'e'

In [ ]:
# string slicing
L[6:]

'rybody'

In [ ]:
L[6:11]

'rybod'

In [ ]:
L[:5]

'Hi ev'

In [ ]:
L

'Hi everybody'

In [ ]:
L[1:11:2]   # string slicing syntax [start:end:step]

'ieeyo'

In [2]:
L = 'Hi everybody'
print(L)

Hi everybody

Negative integer gives index from right and it starts with -1

In [3]:
print(L)
print(L[-1]) # gives last character of the given string
L[-4:-1] # gives s

Hi everybody
y

'bod'

In [4]:
L[2:-2]  # here negative index counts from the end of the string

' everybo'

In [5]:
L[::2] # it slice the string from left to right with a step of 2, so the index is 0,2,4,6...

'H vrbd'

In [6]:
L[::-2]  # it slice the string from right end to left with a step of 2 starting with -1, so the index is -1,-3,-5,-7...

'yoyeei'

In [ ]:
k = 'Hi, give me 4 buns'
print(k, type(k))

Hi, give me 4 buns <class 'str'>
Hi, give me  buns <class 'str'>
Hi, give me \4 buns

# Concatenation of strings

In [ ]:
str1 = 'My name is Dr. Naseer Ahmed,'
str2 = ' I am a researcher'
str3 = str1 + str2  # to concatenate the two strings use '+'
print(str3)
print(str1 + str2)

My name is Dr. Naseer Ahmed, I am a researcher
My name is Dr. Naseer Ahmed, I am a researcher

# converting float or integer to string

In [ ]:
x=1
y=1.5
print(type(x), type(y))

<class 'int'> <class 'float'>

In [ ]:
print(type(str(x)), type(str(y)))  # to convert to string use the in-built function 'str'

<class 'str'> <class 'str'>

# Methods to manipulate the strings

Syntax: string.method_name.

In [ ]:
L

'Hi everybody'

In [ ]:
L.upper()

'HI EVERYBODY'

In [ ]:
L.lower()

'hi everybody'

In [7]:
L.count('e')  # gives count of the specified character about its occurance

2

In [8]:
L.count(' ')

1

In [10]:
L.replace('everybody', 'Naseer')

'Hi Naseer'

In [ ]:
L[::-1]  # to reverse a string

'ydobyreve iH'

# f-string i.e., formatted string

In [ ]:
age = 36
experience = 12
print(f"Myself Dr. Naseer Ahmed and my age is {age} with {experience} years of experience")

Myself Dr. Naseer Ahmed and my age is 36 with 12 years of experience

In [ ]:
print(f'{3*0}')

0

In [ ]:
_*2

'ydobyreve iHydobyreve iH'

L

# Strings are immutable

In [ ]:
L

'Hi everybody'

In [ ]:
L.replace('Hi', 'Hello') # we replace 'Hi' by 'Hello'

'Hello everybody'

In [12]:
L # string L remains same

'Hi everybody'

In [ ]:
m = print('hi')

hi

In [ ]:
type(m)  # print inbuilt-in function is always none type

NoneType

Changing a character in between of the string

In [4]:
X = 'My name is Naseer Ahmed'
print(X)
print(len(X)) # to find the number of characters including spaces
print('The postion of N is ',X.index('N'))
Y = X[:11] + 'Ayaan ' + X[18:]
print(Y)

My name is Naseer Ahmed
23
The postion of N is  11
My name is Ayaan Ahmed