## **Data structure - List**

List is a sequential data structure in Python and can store the elements of type numericals, or strings or other types separated by commas and enclosed by pair of brackets [ ].

In [10]:
list_1 = [2,3, -4.2]  # list_1 has the elements of numerical (integer and float) type.
print(list_1)

[2, 3, -4.2]

In [11]:
list_2 = [4, 'hi', 2.8]  # list_2 has numerical and the string
print(list_2)

[4, 'hi', 2.8]

# Nesting the list

In [14]:
List_3 = ['a', -3, ['you', 'happy']]  # here the list ['you', 'happy'] is nested in List_3
print('Nesting of a list with other some other elements: ', List_3)

List_4 = [list_1, list_2] # both List_1 and List_2 are nested and assigned to List_4
print('Nesting of two lists namely List_1 and List_2 is: ',List_4)

Nesting of a list with other some other elements:  ['a', -3, ['you', 'happy']]
Nesting of two lists namely List_1 and List_2 is:  [[2, 3, -4.2], [4, 'hi', 2.8]]

# Retrieving the elements from the list

We can retrieve the elements by the index like in string

Note that index starts from zero in Python

In [ ]:
list_1 = [2, 3, -4.2, 'apple', 'India', 'Lion']
print(list_1)

[2, 3, -4.2, 'apple', 'India', 'Lion']

In [ ]:
list_1[2]  # retrieving the third element from the list_1

-4.2

In [ ]:
list_1[-1] # retrieving the last element from the list_1

'Lion'

In [ ]:
list_1[0]  # retrieving the 1st elements from the list_1

2

In [ ]:
list_1[1:4]  # getting substring from 2nd to 4th elements

[3, -4.2, 'apple']

In [ ]:
list_1[:]  # retrieving all the elements

[2, 3, -4.2, 'apple', 'India', 'Lion']

In [ ]:
list_1[2:]  # getting substring from 3rd element to last

[-4.2, 'apple', 'India', 'Lion']

In [ ]:
list_1[:3]  # getting substring from 1st to 3rd elements

[2, 3, -4.2]

# length of the list

syntax: **len(name_of_the_string)**


It gives the number of the elements of the list

In [ ]:
len(list_1)

6

**Adding new elements to an existing list**

We add new element by using append method from the list

In [ ]:
list_1

[2, 3, -4.2, 'apple', 'India', 'Lion']

In [ ]:
list_1.append('Yahoo')

In [ ]:
list_1

[2, 3, -4.2, 'apple', 'India', 'Lion', 'Yahoo']

In [ ]:
list_1.append('Naseer','Ayaan')  # can't add more than one element in a list at a time

TypeError: list.append() takes exactly one argument (2 given)

#  Concatenation of lists

To concatenate we use '+'

In [15]:
print('list_1', list_1) # Displaying lists
print('list_2', list_2)
print('Concatenating the list_1 and list_2')
list_12 = list_1 + list_2  # concatenating both the lists
print(list_12)


print('Concatenation of the strings will not affect the original strings')
print('list_1', list_1)
print('list_2', list_2)

list_1 [2, 3, -4.2]
list_2 [4, 'hi', 2.8]
Concatenating the list_1 and list_2
[2, 3, -4.2, 4, 'hi', 2.8]
Concatenation of the strings will not affect the original strings
list_1 [2, 3, -4.2]
list_2 [4, 'hi', 2.8]

# **insert()**

We use the insert function to add element in the desired location

syntax:

insert(index, element)

where element can be any data type

In [16]:
#%f reset

print(list_2)
list_2.insert(2,'Naseer')
print(list_2)

[4, 'hi', 2.8]
[4, 'hi', 'Naseer', 2.8]

In [17]:
list_2.insert(0, 'Ayaan',2, 'Ahmed')  # insert() can't insert more than one element
print(list_2)

TypeError: insert expected 2 arguments, got 4

# Declaring an empty list

lst= [ ]

In [1]:
lst = []
print(lst)

[]

In [2]:
lst.append(-4)
lst.append('hi')
print(lst)

[-4, 'hi']

# Checkin the presence of an element in a list

syntax:

element in list_name  

Note:

If the element is present it will return True otherwise False (Boolean output).

In [8]:
print(lst)
print('Checking the presence of 4 in lst')
print(4 in lst)
print('Checking the presence of hi in lst')
print('hi' in lst)

[-4, 'hi']
Checking the presence of 4 in lst
False
Checking the presence of hi in lst
True

# Converting a string into a list of characters.

syntax:

list(string_name)

In [9]:
lst2 = list('Hi, I am from India')
print(lst2)

['H', 'i', ',', ' ', 'I', ' ', 'a', 'm', ' ', 'f', 'r', 'o', 'm', ' ', 'I', 'n', 'd', 'i', 'a']